.hero-container {
   width: 100%;
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  padding: 0px;
}
.background {
  background-image: url('../../assets/hero.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh; /* Full height of the screen */
  position: relative;
}
.hero-shape{
  height: 15vh;
  width: 70%;
  clip-path: polygon(20% 20%, 100% 0%, 100% 100%, 0% 100%);
 background-color:var(--secondary-color);
   margin-bottom: 0;
   margin-left: 20%;
   position: absolute; /* Change to absolute */
  bottom: 0; /* Position it at the bottom */
  right: 0; /* Position it to the right */
  margin: 0;
  }
.profile-image {
  width: 200px; /* Adjust size */
  height: 200px; /* Adjust size */
  border-radius: 50%; /* Make it circular */
  object-fit: cover; /* Ensure the image is cropped properly */
  margin-bottom: 20px; /* Add spacing between image and text */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Optional shadow for better aesthetics */
}

.hero-text {
  text-align: center;
  max-width:600px;
  z-index: 1; /* Ensure the text is above the background */
  margin-top: 200px; /* Reduced from 300px */
  padding: 0 20px; /* Add padding for mobile */
}
.hero-text h1{
   font-size: 60px;
  font-weight: 600;
  color:  #FFFFFF;
  margin-bottom: 10px;

}
.hero-text p{
   color:#F7DDCF;
  max-width: 700px;
  margin: 10px auto 20px;
  line-height: 1.4;
}

/* -------------------------Media Query--------------------- */

@media (max-width: 850px) {
    .hero-text h1{
        font-size: 40px;
    }
    .hero-text {
        margin-top: 150px;
    }
}

@media (max-width: 650px) {
    .hero-text h1{
        font-size: 30px;
        max-width: 100%;
        margin: auto;
    }
    .hero-text p{
        font-size: 14px;
        margin: 20px 0;
    }
    .hero-text {
        margin-top: 100px;
    }
}