.whatsapp-icon-circle,
.email-icon-circle {
  /* WhatsApp color for WhatsApp */
  background-color:var(--background-color);; /* Email color for Email */
  border-radius: 50%;
  padding: 10px;
}

.whatsapp-icon,
.email-icon {
  color: white;  /* Icons color */
}
